.colorStyle{
    color:blueviolet;
    background-color: aliceblue;
}
.imageGallery{
    border: 10px double red;
 
}
article{
<<<<<<< HEAD
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 10px double red;
=======
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 10px solid red;
>>>>>>> origin/master
}