.colorStyle{
    color:blueviolet;
    background-color: aliceblue;
}
.imageGallery{
    border: 10px double red;
    background-color: aliceblue;
}
article{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 10px solid red;
}
.myFooter{
    background-color: brown;
    height: 300px;
    color: aqua;
}