.colorStyle{
    color:blueviolet;
    background-color: aliceblue;
}
.imageGallery{
    border: 10px double red;
    background-color: aliceblue;
}
article{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 10px double red;
}
